html
{
	background: url(../images/background.jpg);
	font-family: 'Helvetica',sans-serif;
}

.stud-box
{
	width:400px;
	height:470px;
	background: rgba(0,0,0,0.4);
	padding: 40px;
	color: white; 
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

.stud-pic
{
	border-radius: 50%;
	height:200px;
	width:200px;
}

h1
{
	font-weight: 100;
	letter-spacing: 10;
	font-size: 40px;
}

p
{
	font-weight: 200;
	letter-spacing: 1;
}

.social-icons
{
	font-size: 20px;
	margin-top: 10px;
}

.social-icons a
{
	color :white;
}

.line-break
{
	width: 340px;
	border-top:1px solid white;
	margin:0 auto;
}

.stud-box a
{
	color: white; 
	font-family: "Times New Roman", Georgia, Serif;
	font-style: italic;
}